body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#navigation-bar {
    background-color: skyblue;
    height: 40px;
    width: 100%;
}

#navigation-list {
    margin: 0;
    padding: 0;
}

.maintenance-notice {
    background-color: darkorange;
    height: 40px;
    width: 100%;
}

.maintenance-notice-message {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.navigation-item {
    float: left;
    /*margin-right: 10px;*/
    height: 20px;
    list-style: none;
    padding: 10px;
    text-decoration: none;
    transition: 500ms;
    width: auto;
}

.navigation-item:hover {
    background-color: aquamarine;
    transition: 500ms;
}

#logo {
    height: 40px;
    margin: 0;
    padding: 0;
    width: 150px;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

#page {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#page-content {
    background-color: #ffffff;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 1400px;
}


.service-message {
    background-color: skyblue;
    border: 1px solid deepskyblue;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

#searchbox-box {
    background-image: url("http://i.imgur.com/VoyBkmY.jpg");
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.30);
    background-repeat: no-repeat;
    background-position: center;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#searchbox-form {
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 355px;
}

#searchbox-input {
    background-color: #fff;
    border: 1px solid #eeeeee;
    font-size: 16px;
    height: 40px;
    width: 250px;
    padding-left: 5px;
}

#searchbox-button {
    background-color: #fff;
    border: 1px solid #eeeeee;
    height: 44px;
    width: 70px;
}

.anime-box {
    height: 150px;
    padding: 10px;
    width: 100%;
}

#news-box {
    padding: 10px;
    width: 700px;
}

#news-title {
    font-size: 24px;
    font-weight: 500;
}

.news-article {
    width: 750px;
}

.news-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.news-meta {
    font-size: 16px;
    margin-top: 0;
}

.anime-box-title {
    font-size: 24px;
    font-weight: 500;
}

.anime-box-item {
    background-color: #E3E3E3;
    float: left;
    height: auto;
    margin-right: 20px;
    width: 200px;
    /*transition: 500ms;*/
}

.float-reset { clear: both; }

.anime-box-item p {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*transition: 500ms;*/
}

.anime-box-item p:hover {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    /*transition: 500ms;*/
}

.anime-box-genres { 
    font-weight: 400 !important;
    text-align: center;
}

#all-anime-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

#anime-sort-order {
    margin-top: 0;
    font-size: 18px;
    font-weight: 300;
}

#sort-item {
    color: cornflowerblue;
}

#anime-list {
    padding: 10px;
}

.anime-list-item {
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    border-radius: 5px;
    height: 200px;
    width: 1300px;
    padding: 10px;
    margin-top: 20px;
}

.anime-list-cover {
    float: left;
    height: 200px;
    width: 150px;
    border-radius: 5px;
}

.anime-list-information {
    margin-left: 160px;
}

.anime-list-title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.anime-list-position {
    font-weight: 300;
    margin-right: 5px;
}

.anime-list-rating {
    margin-left: 10px;
    font-weight: 300;
}

.anime-list-description {
    margin-top: 5px;
}

.anime-list-meta {
    margin-top: 70px;
}

.anime-list-genres {
    margin-left: 10px;
    color: cornflowerblue;
}

.anime-list-rec {
    margin-left: 10px;
    text-decoration: underline;
}